/* MAIN */

main{
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.mainflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.style-article{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    border-radius: 2%;
}

.mainflex li{
    width: 50%;
}

.style-img{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.style-box{
    border: 1px solid #ebebeb;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: var(--Grisoscuro);
    margin-bottom: 10px;
}

.camioncito{
    margin: -24px 120px 6px;
    color: var(--Verde);
    font-size: 16px;
    background-color: #FFF;
    border: 1px solid #39b54a;
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 50%;
    right: -100px;
    top: -15px;
    position: absolute;
    transition: transform 450ms;
}

.style-article :hover .camioncito{
    transform: rotate(-90deg);
}

.style-pd{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.price {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.discount {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--Verde);
}

.product-name{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--Grisoscuro);
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    display: none;
    transition-property: display;
}

.style-article :hover .product-name{
    display: flex; 
}