@import url(normalize.css);

@import url(header.css);

@import url(main.css);

@import url(footer.css);

@import url(register.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-background: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Grisoscuro: #666;
    --Grisclaro: #ebebeb;
    --Verde: #39b54a;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

@media (min-width: 400px) {
    .product-name{
        display: none;
        transition: display 450ms;
    }

    .product-name :hover{
        display:inline;
    }

    .search{
        display: none;
    }

    .list-flexbox{
        display: none;
    }
}

@media (min-width: 550px) {
    .burger-menu{
        display: none;
    }

    .product-name{
        display: block;
    }

    .search{
        display:block;
    }

    .mainflex li{
        display: flex;
        width: 40%;
    }
    .style-article{
        box-shadow: #ebebeb;
        transition: box-shadow 450ms;
    }

    .style-article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .list-flexbox{
        display: flex;
    }
}

@media (min-width: 769px) {
    .burger-menu{
        display: none;
    }
    .mainflex li{
        display: flex;
        width: 22%;
    }
    .style-article{
        box-shadow: #ebebeb;
        transition: box-shadow 450ms;
    }

    .style-article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

